In [7]:
import pymysql

In [288]:
#Connect Python to Yelp database in Mysql

import pandas as pd
db = pymysql.connect("localhost","root","qyt007","Yelp")
df_b = pd.read_sql('SELECT * FROM business', db)
df_r = pd.read_sql('SELECT * FROM review', db)
df_u = pd.read_sql('SELECT * FROM user', db)
df_t = pd.read_sql('SELECT * FROM tip', db)
df_c = pd.read_sql('SELECT * FROM checkin', db)

In [271]:
#The review table

df_r.drop_duplicates('review_id',keep='first',inplace=True)
df_r.head()

,funny,user_id,review_id,text,business_id,stars,date,useful,cool
0,0,msQe1u7Z_XuqjGoqhB0J5g,x7mDIiDB3jEiPGPHOmDzyw,The pizza was okay. Not the best I've had. I p...,iCQpiavjjPzJ5_3gPD5Ebg,2,2011-02-25,0,0
1,0,msQe1u7Z_XuqjGoqhB0J5g,dDl8zu1vWPdKGihJrwQbpw,I love this place! My fiance And I go here atl...,pomGBqfbxcqPv14c3XH-ZQ,5,2012-11-13,0,0
2,1,msQe1u7Z_XuqjGoqhB0J5g,LZp4UX5zK3e-c5ZGSeo3kA,Terrible. Dry corn bread. Rib tips were all fa...,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,3,1
3,0,msQe1u7Z_XuqjGoqhB0J5g,Er4NBWCmCD4nM8_p1GRdow,Back in 2005-2007 this place was my FAVORITE t...,elqbBhBfElMNSrjFqW3now,2,2011-02-25,2,0
4,0,msQe1u7Z_XuqjGoqhB0J5g,jsDu6QEJHbwP2Blom1PLCA,Delicious healthy food. The steak is amazing. ...,Ums3gaP2qM3W1XcA5r6SsQ,5,2014-09-05,0,0

In [289]:
#The business table

df_b.drop_duplicates('business_id',keep='first',inplace=True)
df_b.head()

,business_id,city,neighborhood,name,longitude,state,postal_code,categories,stars,address,latitude,review_count,is_open
0,Apn5Q_b6Nz61Tq4XzPdf9A,Calgary,,Minhas Micro Brewery,-114.031675,AB,T2E 6L6,Tours Breweries Pizza Restaurants Food Hotels ...,4.0,1314 44 Avenue NE,51.091813,24,1
1,AjEbIBw6ZFfln7ePHha9PA,Henderson,,CK'S BBQ & Catering,-114.939821,NV,89002,Chicken Wings Burgers Caterers Street Vendors ...,4.5,,35.960734,3,0
2,O8S5hYJ1SMc8fA4QBtVujA,Montral,Rosemont-La Petite-Patrie,La Bastringue,-73.599300,QC,H2G 1K7,Breakfast & Brunch Restaurants French Sandwich...,4.0,1335 rue Beaubien E,45.540503,5,0
3,bFzdJJ3wp3PZssNEsyU23g,Phoenix,,Geico Insurance,-112.076979,AZ,85003,Insurance Financial Services,1.5,211 W Monroe St,33.449999,8,1
4,8USyCYqpScwiNEb58Bt6CA,Calgary,,Action Engine,-114.027366,AB,T2H 0N5,Home & Garden Nurseries & Gardening Shopping L...,2.0,2005 Alyth Place SE,51.035591,4,1

In [290]:
#Join review and business dataframes on 'business_id'

df_r_b = pd.merge(df_r, df_b, on ='business_id')

In [291]:
df_r_b.head()

,funny,user_id,review_id,text,business_id,stars_x,date,useful,cool,city,...,name,longitude,state,postal_code,categories,stars_y,address,latitude,review_count,is_open
0,0,msQe1u7Z_XuqjGoqhB0J5g,dDl8zu1vWPdKGihJrwQbpw,I love this place! My fiance And I go here atl...,pomGBqfbxcqPv14c3XH-ZQ,5,2012-11-13,0,0,Las Vegas,...,Leticia's Mexican Cocina,-115.280088,NV,89143,Restaurants Mexican Bars Nightlife,4.0,7585 Norman Rockwell Ln Bldg 1,36.298875,1125,1
1,0,xJU_8kB-QVdK-_BOotvi9Q,wkpqXCNE3heeD-uexZ1NaA,My fiance and I decided to check this place ou...,pomGBqfbxcqPv14c3XH-ZQ,2,2016-11-04,0,0,Las Vegas,...,Leticia's Mexican Cocina,-115.280088,NV,89143,Restaurants Mexican Bars Nightlife,4.0,7585 Norman Rockwell Ln Bldg 1,36.298875,1125,1
2,0,cdFB_a_ZXF7qGVKP2mYikA,FXt7F4e-ncrq5pYstUVwxw,"""We were really looking forward to liking this...",pomGBqfbxcqPv14c3XH-ZQ,1,2011-08-10,0,0,Las Vegas,...,Leticia's Mexican Cocina,-115.280088,NV,89143,Restaurants Mexican Bars Nightlife,4.0,7585 Norman Rockwell Ln Bldg 1,36.298875,1125,1
3,0,ZdUFyF5eNyZxete-T4bmZA,gzG_aKOfpspNELvX4Msy6w,"""This was our """"go to"""" Mexican spot for the l...",pomGBqfbxcqPv14c3XH-ZQ,2,2014-06-04,4,1,Las Vegas,...,Leticia's Mexican Cocina,-115.280088,NV,89143,Restaurants Mexican Bars Nightlife,4.0,7585 Norman Rockwell Ln Bldg 1,36.298875,1125,1
4,0,jEBySjq6tgL-_R3P7LHq0w,avx1RLsFHu8Z5M4HVWBRzg,If you love Mexican food I totally recommend t...,pomGBqfbxcqPv14c3XH-ZQ,4,2011-08-10,2,0,Las Vegas,...,Leticia's Mexican Cocina,-115.280088,NV,89143,Restaurants Mexican Bars Nightlife,4.0,7585 Norman Rockwell Ln Bldg 1,36.298875,1125,1

In [275]:
#3. How many Canadian residents reviewed the business “Mon Ami Gabi” in last 1 year?

#3. Records of all the users who have reviewed 'Mon Ami Gabi' in last 1 year

import datetime
df_r_MAG = df_r_b[(df_r_b['name']=='Mon Ami Gabi')&(df_r_b['date']> datetime.date(2017, 8, 8))]

In [276]:
#3. Records of reviews and business located in Canada

df_CA = df_r_b[df_r_b['postal_code'].str.contains('[A-Z]')]

In [277]:
#3. The number of users who reviewed the business “Mon Ami Gabi” in last 1 year and also reviewed business located in Canada

unique_id = set(df_r_MAG['user_id'][df_r_MAG['user_id'].isin(df_CA['user_id'])])
unique_id_count = len(unique_id)
unique_id_count

44

In [307]:
#3. Identify users based on how many times they've reviewed business in Canada

df_3 = df_r_b[(df_r_b['user_id'].isin(df_r_MAG['user_id'])) & (df_r_b['user_id'].isin(df_CA['user_id']))]
df_pos = df_3[['user_id','postal_code']]
s_CA = df_pos[df_pos['postal_code'].str.contains('[A-Z]')].groupby('user_id')['postal_code'].count()
s_CA1 = s_CA[s_CA==1]
s_CA1

user_id
IQVBHPUprLiHCw99dkcO2A    1
JywS1C7xAeI_eG970OpuHg    1
WHe5tyJbVpkvO_3meMUrdg    1
jZUpqurVtlrN2QrgLxQzZw    1
Name: postal_code, dtype: int64

In [308]:
s_CA1.count()

4

In [309]:
#3. For users who reviewed business in Canada a few times

s_CA2 = s_CA[(s_CA>1) & (s_CA<=10)]
CA2_num = s_CA2.count()*0.5
CA2_num

12.0

In [310]:
#3. For users who reviewed business in Canada many times

s_CA3 = s_CA[(s_CA>10) & (s_CA<=100)]
CA3_num = s_CA3.count()*0.8
CA3_num

11.200000000000001

In [281]:
#3. For users who reviewed business in Canada more than 100 times

s_CA4 = s_CA[s_CA>100]
CA4_num = s_CA4.count()
CA4_num

2

In [259]:
#3. Add up and see approximately how many Canadian residents reviewed 'Mon Ami Gabi' in last 1 year

CA_num = CA2_num + CA3_num + CA4_num
CA_num

25.200000000000003

In [314]:
#4. Top 10 most common words in the reviews of the business “Chipotle Mexican Grill”

from collections import Counter
Counter(" ".join(df_r_b['text'][df_r_b['name']=='Chipotle Mexican Grill']).split()).most_common(10)

[('the', 29813),
 ('and', 22424),
 ('I', 22120),
 ('to', 19176),
 ('a', 16331),
 ('is', 10989),
 ('of', 10544),
 ('was', 9655),
 ('in', 7829),
 ('for', 7554)]

In [285]:
#5. What’s the percentage of users, who reviewed “Mon Ami Gabi”, and also reviewed at least 10 other restaurants located in Ontario?

#5. Find users who reviewed at least 10 restaurants in ON

df_ON = df_r_b[['user_id','review_id']][df_r_b['state']=='ON']
s_ON = df_ON.groupby(['user_id'])['review_id'].count()
s_10ON = s_ON[s_ON>=10]
s_10ON.head(10)

user_id
--BumyUHiO_7YsHurb9Hkw     43
--Qh8yKWAvIP4V4K8ZPfHA    378
--UOvCH5qEgdNQ8lzR8QYQ     10
--YhjyV-ce1nFLYxP49C5A     82
-0AyZxS5C--WySnbW_Q8yQ     18
-0kf3OEgFh6APiSedF4kbg     13
-1MF2tosrw2WcCxeVNk81Q     10
-1aYNZASC1lkA09LJtfNAA     13
-1l27u1nHhe7F7AlheMIGQ     13
-1wbglcr6x1qrUbqP1YAIA     30
Name: review_id, dtype: int64

In [286]:
#5. Find users who reviewed 'Mon Ami Gabi' and calculate the percentage

count_MAG = df_r_b['user_id'][df_r_b['name']=='Mon Ami Gabi'].count()
s = df_r_b['user_id'][df_r_b['name']=='Mon Ami Gabi'].isin(s_10ON.index)
count_ON10 = s[s == True].count()
print('%.2f%%'%(float(count_ON10)/float(count_MAG)*100))

0.89%

In [293]:
#6.1 Which states should I start or expand my business in the US and in Canada?

df_b1 = df_b.copy()
df_b1['popularity'] = df_b1['stars']*df_b1['review_count']
df_b1.head()

,business_id,city,neighborhood,name,longitude,state,postal_code,categories,stars,address,latitude,review_count,is_open,popularity
0,Apn5Q_b6Nz61Tq4XzPdf9A,Calgary,,Minhas Micro Brewery,-114.031675,AB,T2E 6L6,Tours Breweries Pizza Restaurants Food Hotels ...,4.0,1314 44 Avenue NE,51.091813,24,1,96.0
1,AjEbIBw6ZFfln7ePHha9PA,Henderson,,CK'S BBQ & Catering,-114.939821,NV,89002,Chicken Wings Burgers Caterers Street Vendors ...,4.5,,35.960734,3,0,13.5
2,O8S5hYJ1SMc8fA4QBtVujA,Montral,Rosemont-La Petite-Patrie,La Bastringue,-73.599300,QC,H2G 1K7,Breakfast & Brunch Restaurants French Sandwich...,4.0,1335 rue Beaubien E,45.540503,5,0,20.0
3,bFzdJJ3wp3PZssNEsyU23g,Phoenix,,Geico Insurance,-112.076979,AZ,85003,Insurance Financial Services,1.5,211 W Monroe St,33.449999,8,1,12.0
4,8USyCYqpScwiNEb58Bt6CA,Calgary,,Action Engine,-114.027366,AB,T2H 0N5,Home & Garden Nurseries & Gardening Shopping L...,2.0,2005 Alyth Place SE,51.035591,4,1,8.0

In [321]:
#6.1 Top 20 popular states in US and Canada 

s_states = df_b1.groupby(['state'])['popularity'].mean()
s_states.sort_values(ascending = False).head(10)

state
NV    210.338088
AZ    126.016582
NC     94.204330
WI     90.310799
PA     89.423642
ON     77.586349
OH     72.986343
IL     72.122471
QC     71.299781
FL     68.000000
Name: popularity, dtype: float64

In [323]:
#6.2 Which neighborhood should I start or expand my business in NV?

df_sorted = df_b1[df_b1['state']=='NV'].sort_values(by = ['popularity'],ascending = False)
df_sorted_50 = df_sorted.head(50)
df_sorted_50.head()

,business_id,city,neighborhood,name,longitude,state,postal_code,categories,stars,address,latitude,review_count,is_open,popularity
137630,4JNXUYY8wbaaDmk3BPzlWw,Las Vegas,The Strip,Mon Ami Gabi,-115.172582,NV,89109,Steakhouses Breakfast & Brunch Restaurants French,4.0,3655 Las Vegas Blvd S,36.112827,7968,1,31872.0
62720,K7lWdNUhCbcnEvI0NhGewg,Las Vegas,The Strip,Wicked Spoon,-115.176155,NV,89109,Buffets Restaurants Breakfast & Brunch,3.5,3708 Las Vegas Blvd S,36.109550,6446,1,22561.0
177567,DkYS3arLOhA8si5uUEmHOw,Las Vegas,The Strip,Earl of Sandwich,-115.171869,NV,89109,Sandwiches Wraps Food Caterers Restaurants Sou...,4.5,3667 Las Vegas Blvd S,36.109443,4981,1,22414.5
170123,f4x1YBxkLrZg652xt2KR5g,Las Vegas,The Strip,Hash House A Go Go,-115.171580,NV,89109,Breakfast & Brunch American (New) Restaurants,4.0,3535 Las Vegas Blvd,36.118181,5382,1,21528.0
96847,hihud--QRriCYZw1zZvW4g,Las Vegas,Eastside,Gangnam Asian BBQ Dining,-115.151261,NV,89169,Asian Fusion Barbeque Korean Japanese Restaura...,4.5,4480 Paradise Rd Ste 600,36.108898,3731,1,16789.5

In [324]:
#6.2 Grouped by neighborhood

s_neighborhood = df_sorted_50.groupby(['neighborhood'])['popularity'].mean().sort_values(ascending=False)
s_neighborhood

neighborhood
The Strip        12991.467742
Southeast        12591.750000
Eastside         12568.750000
Westside         11874.333333
Downtown         10101.375000
Chinatown         9985.500000
                  9738.500000
Spring Valley     9288.000000
Name: popularity, dtype: float64

In [325]:
#6.3 Which categories should I start or expand my business?

print Counter(" ".join(df_sorted_50['categories']).split()).most_common(10)

[('&', 54), ('Restaurants', 38), ('American', 27), ('Hotels', 23), ('(New)', 16), ('Services', 15), ('Event', 15), ('Food', 15), ('Bars', 14), ('Planning', 13)]

In [298]:
#Section 2.2
#predicting stars based on review texts
#get star list

stars = df_r['stars'].tolist()

In [299]:
print(Counter(stars))

Counter({5: 2641880, 4: 1335957, 1: 858139, 3: 673206, 2: 487813, 0: 1})

In [301]:
#Balance the data first

df_new = df_r.copy()   
max_num = 487813
df_5 = df_new[df_new['stars']==5].head(487813)
df_4 = df_new[df_new['stars']==4].head(487813)
df_3 = df_new[df_new['stars']==3].head(487813)
df_2 = df_new[df_new['stars']==2].head(487813)
df_1 = df_new[df_new['stars']==1].head(487813)
df_balanced = pd.concat([df_5,df_4,df_3,df_2,df_1])

In [303]:
#Data has been balanced

Counter(df_balanced['stars'].tolist())

Counter({1: 487813, 2: 487813, 3: 487813, 4: 487813, 5: 487813})

In [304]:
#Text data vectorization
#The vectorizer breaks text into single words and bi-grams, and then calculates the TF-IDF representation

from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range = (1,2))
vectors = vectorizer.fit_transform(df_balanced['text'])

In [305]:
#Train-test split

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(vectors, df_balanced['stars'], test_size = 0.33, random_state = 42)

In [306]:
#Fitting a classifier

from sklearn.svm import LinearSVC
classifier = LinearSVC()
classifier.fit(X_train, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [316]:
#Use the fitted model to make predictions 

prediction = classifier.predict(X_test)
print(list(prediction[:20]))
print(list(y_test[:20]))

[5, 5, 1, 4, 5, 4, 2, 5, 4, 3, 5, 4, 1, 4, 4, 4, 5, 4, 2, 2]
[5, 5, 1, 4, 5, 4, 4, 5, 4, 3, 5, 4, 1, 3, 4, 3, 5, 4, 3, 3]

In [317]:
#Evaluate the performance of the classifier using accuracy score

from sklearn.metrics import accuracy_score
accuracy_score(y_test,prediction)

0.6327395476660223

In [330]:
#Evaluate the performance of the classifier using precision(false-negative) and recall(false-positive)

from sklearn.metrics import classification_report
print(classification_report(y_test,prediction))

             precision    recall  f1-score   support

          1       0.73      0.79      0.76    161144
          2       0.56      0.53      0.54    161330
          3       0.55      0.51      0.53    160830
          4       0.57      0.56      0.56    160835
          5       0.74      0.78      0.76    160753

avg / total       0.63      0.63      0.63    804892

In [331]:
# Use confusion matrix for evaluating which predictions are often confused

from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,prediction))

[[127107  28055   4109    878    995]
 [ 37383  84742  33057   4651   1497]
 [  7612  33846  82455  32242   4675]
 [  1574   4559  27946  89977  36779]
 [  1111    801   3170  30665 125006]]